.servicess_section{

}
.services_section .container{
    padding: var(--primary-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
@media (max-width:700px){
    .services_section .container{
        padding: var(--mobile-padding);
    }
}
.services_section .container h2{
    color: var(--secondary-color);
}
.services_section .container p{
   padding: 8px 0px;
}
.services_section .service_cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 40px;
    padding-top: 8px;
}
@media (max-width:700px) {
    .services_section .service_cards{
        grid-template-columns: 1fr;
    }
}
.services_section .card {
    position: relative;
    width: 100%;
    cursor: pointer;
}
.services_section .card .overlay{
    display: none;
}
.services_section .card:hover .overlay{
    display: block;
}
.services_section .card .image {
    width: 100%;
    padding: 8px;
}
.services_section .card .image img{
    position: relative;
    width: 100%;
}
.image .card_icon{
    width: 70px;
    height: 70px;
    background: linear-gradient(to right, #140084, rgb(13 202 240));
    color: #fff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -45px;
    z-index: 1001;
    position: relative;    
    margin-left: 40%;
}
.services_section h4{
    padding-top: 24px;
    color: var(--secondary-color);
    font-size: 20px;
}
.services_section .card p{
    padding: 8px;
}
.services_section .card h4, p, b{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}